# Build a Binary Classification model Using Logisic Regression

After we Processed our Dataset in the `Bulid_Classification_Models\01.ExploringTheTitanicDataset.ipynb`

Now we're ready to build a ML model 
so let's start ...

In [1]:
import pandas as pd

In [2]:
titanic_df=pd.read_csv("Data/titanic_processed.csv")
titanic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,2,0,17.0,0,0,12.0000,True,False,False
1,0,1,1,36.0,1,0,78.8500,False,False,True
2,0,3,0,14.5,1,0,14.4542,True,False,False
3,1,2,0,42.0,0,0,13.0000,False,False,True
4,1,2,0,41.0,0,1,19.5000,False,False,True

In [4]:
titanic_df.shape

(712, 10)

## Train the model

In [6]:
from sklearn.model_selection import train_test_split

X= titanic_df.drop("Survived",axis=1)
Y= titanic_df["Survived"]

x_train, x_test, y_train, y_test= train_test_split(X,Y,test_size=0.2)

In [8]:
x_train.shape,  y_train.shape

((569, 9), (569,))

In [10]:
x_test.shape , y_test.shape

((143, 9), (143,))

In [12]:
# Time to Fit

from sklearn.linear_model import LogisticRegression

logistic_model=LogisticRegression(penalty="l2", C=1.0,solver="liblinear").fit(x_train,y_train)

- `penatly = l2` => Default value of Reularization in LogisticRegression

    - Reularization=> is a methods in ML to  penalize complex models so that the resulting model is more robust and better prediction

    - `L2` norm is simply the sum Sqares of the coefficients 
- `C=1.0 `=> Inverse of Regularization strength

- Algorithm to use in the Optimization Problem - the `liblinear` works very well for small dataset "Like ours "

In [13]:
y_pred= logistic_model.predict(x_test)

## Calc Acc, precision, recall

In [18]:
pred_result=pd.DataFrame(
    {"y_test":y_test,
    "y_pred":y_pred}
)

In [19]:
pred_result.head()

     y_test  y_pred
394       0       0
599       0       0
104       0       0
100       1       1
115       0       0

In [ ]:
# setup our confusin matrix
titanic_corsstab= pd.crosstab(pred_result.y_pred,pred_result.y_test)
titanic_corsstab

y_test   0   1
y_pred
0       77  17
1        8  41

In [ ]:
from sklearn.metrics import accuracy_score, precision_score,recall_score

acc= accuracy_score(y_test,y_pred)
prec= precision_score(y_test,y_pred)
recall= recall_score(y_test,y_pred)
print(f"Accuracy : {acc}")
print(f"Precision : {prec}")
print(f"Recall : {recall}")

Accuracy :0.8251748251748252
Precision :0.8367346938775511
Recall :0.7068965517241379

- Accuracy : How Many of the predicted values did the model get right
- Precision : How Many of the passengers that the model thought survived actually survive
- Recall : How Many of the actual survivous did the model correctly predict

!This is good for Prototype